<div class="container">
    <form #todolist="ngForm" (ngSubmit)="getlist(todolist)">
        <input type="name" name="name" [(ngModel)]="name" required #u="ngModel" pattern="^[A-Za-z]+$">
        <div *ngIf="u.touched">
            <div *ngIf="u.errors?.['pattern'] && u.touched">
                Only alphabets allowed
            </div>
        </div>

        <input type="name" name="mail" [(ngModel)]="mail">
        <input type="name" name="task" [(ngModel)]="task">
        <button type="submit">submit</button>
    </form>

    <table class="table">
        <thead>
            <tr>
                <th>Srno</th>
                <th>nASme</th>
                <th>amil</th>
                <th>description</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let list of todoArray; let i=index">
                <td>{{list.srno}} </td>
                <td>{{list.name}} </td>
                <td>{{list.mail}} </td>
                <td>{{list.task}} </td>
                <td>
                    <button>edit</button>
                    <button (click)="deletelistrec(i)">delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>