<div class="container-fluid">
    <div class="card">
        <div class="card-header">
            <div class="d-flex align-items-center justify-content-between">
                <h4 class="text-primary fw-bold mb-0">Bank Register</h4>
                <button class="btn btn-primary" (click)="addbank()">Add Bank</button>
            </div>
        </div>
        <div class="card-body">
            <div class="row align-items-center my-4">
                <div class="col-sm-12">
                    <form [formGroup]="filterform" (ngSubmit)="submitfilter()">
                        <div class="row gx-2">
                            <div class="col-sm-4">
                                <mat-form-field class="w-100" appearance="outline">
                                    <mat-label>Select Organization Name</mat-label>
                                    <mat-select formControlName="organizationname">
                                        <mat-option *ngFor="let org of organizationArray; let i=index" [value]="org.id">
                                            {{org.organizationName}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-sm-4">
                                <mat-form-field class="w-100" appearance="outline">
                                    <mat-label>Search</mat-label>
                                    <input matInput placeholder="" formControlName="search">
                                </mat-form-field>
                            </div>
                            <div class="col-sm-auto">
                                <div class="d-flex gap-2">
                                    <button mat-flat-button class="btn btn-primary">Search</button>
                                    <button mat-flat-button class="btn btn-secondary" (click)="clear()">Clear</button>
                                </div>
                            </div>
                        </div>
                        <table mat-table [dataSource]="bankmastergetAlltblArr" class="mat-elevation-z8">

                            <ng-container matColumnDef="sn">
                                <th mat-header-cell *matHeaderCellDef> SN </th>
                                <td mat-cell *matCellDef="let element; let i=index"> {{i+1}} </td>
                            </ng-container>

                            <ng-container matColumnDef="organizationName">
                                <th mat-header-cell *matHeaderCellDef> Organization Name </th>
                                <td mat-cell *matCellDef="let element"> {{element.organizationName}} </td>
                            </ng-container>

                            <ng-container matColumnDef="bankName">
                                <th mat-header-cell *matHeaderCellDef> Bank Name </th>
                                <td mat-cell *matCellDef="let element"> {{element.bankName}} </td>
                            </ng-container>

                            <ng-container matColumnDef="action">
                                <th mat-header-cell *matHeaderCellDef> Action </th>
                                <td mat-cell *matCellDef="let element">
                                    <div class="d-flex gap-2">
                                        <button (click)="editbankdata(element.id) ">Edit</button>
                                        <button (click)="deletebankdata(element.id)">Delete</button>
                                    </div>
                                </td>
                            </ng-container>
                            <tr class="mat-row p-2 w-100" *matNoDataRow col>
                                <td colspan="12">
                                  <div class="alert alert-danger text-center m-2 p-2" colspan="4">
                                    No Data Available
                                  </div>
                                </td>
                              </tr>

                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>