<div class="container-fluid">
    <div class="container">
        <div class="d-flex justify-content-between">
            <h2>Registered User List</h2>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Launch demo modal
            </button>
        </div>
        <div class="float-end my-2">
            <!-- <button class="btn btn-primary" (click)="getdata()">Get Data</button> -->
        </div>
        <p>{{userArr.length}} </p>
        <table class="table">
            <thead>
                <tr>
                    <th>Sr. No.</th>
                    <th>FullName</th>
                    <th>Gender</th>
                    <th>Mobile Number</th>
                    <th>Media </th>
                    <th>Street</th>
                    <th>City</th>
                    <th>State</th>
                    <th>Zip</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let arr of userArr; let i=index">
                    <td>{{i+1}}</td>
                    <td>{{registerformobj.fullname}} </td>
                    <td>{{registerformobj.gender}} </td>
                    <td>{{registerformobj.mobno}} </td>
                    <td>{{registerformobj.media}} </td>
                    <td>{{registerformobj.street}} </td>
                    <td>{{registerformobj.city}} </td>
                    <td>{{registerformobj.state}} </td>
                    <td>{{registerformobj.zip}} </td>
                </tr>
            </tbody>
        </table>
        <ng-template #noData>
            <h4 class="text-danger">No Data Found</h4>
        </ng-template>
    </div>
</div>




<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="" [formGroup]="registeruser">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="row">
                                <div class="col-sm-6">
                                    <mat-form-field class="w-100" appearance="outline">
                                        <mat-label>Full Name</mat-label>
                                        <input matInput placeholder="" formControlName="fullname" required>
                                    </mat-form-field>
                                    <mat-error *ngIf="registeruser.get('fullname')?.['invalid'] ">
                                        <span
                                            *ngIf="registeruser.get('fullname')?.['touched'] && registeruser.get('fullname')?.['invalid']">Please
                                            fill the
                                            field</span>
                                        <span *ngIf="registeruser.get('fullname')?.errors?.['pattern'] ">Please Enter
                                            Valid
                                            Data</span>
                                    </mat-error>
                                </div>
                                <div class="col-sm-6">
                                    <div class="d-flex align-items-center gap-3">
                                        <mat-label>Gender</mat-label>
                                        <mat-radio-group aria-label="Select an option" formControlName="gender">
                                            <mat-radio-button [value]="genders" *ngFor="let genders of gender">
                                                {{genders}}
                                            </mat-radio-button>
                                        </mat-radio-group>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div formArrayName="mobno">
                                        <div *ngFor="let mno of registeruser.get('mobno').controls; let i=index ">
                                            <div class="d-flex align-items-center gap-2">
                                                <mat-form-field class="w-100" appearance="outline">
                                                    <mat-label>Mobile Number</mat-label>
                                                    <input matInput placeholder="" [formControlName]="i">
                                                </mat-form-field>
                                                <div class="d-flex gap-2">
                                                    <button class="btn btn-danger"
                                                        (click)="removemobno(i)">Delete</button>
                                                    <button class="btn btn-primary" (click)="addmobno()">Add</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <!-- <mat-form-field class="w-100" appearance="outline">
                                        <mat-label>Social Media Account</mat-label>
                                        <mat-select formControlName="media">
                                            <mat-option *ngFor="let sm of socialmedia" [value]="sm">{{sm}} </mat-option>
                                        </mat-select>
                                    </mat-form-field> -->
                                    <select class="form-select" aria-label="Default select example"
                                        formControlName="media">
                                        <option *ngFor="let sm of socialmedia" [value]="sm">{{sm}} </option>
                                    </select>
                                </div>
                                <div class="col-sm-12">
                                    <h4>Address</h4>
                                    <div class="border p-3" formArrayName="address">
                                        <div *ngFor="let addr of registeruser.get('address').controls; let i=index ">
                                            <div class="row gx-2" [formGroupName]="i">
                                                <div class="col-sm-3">
                                                    <mat-form-field class="w-100" appearance="outline">
                                                        <mat-label>Street</mat-label>
                                                        <input matInput placeholder="" formControlName="street">
                                                    </mat-form-field>
                                                </div>
                                                <div class="col-sm-3">
                                                    <mat-form-field class="w-100" appearance="outline">
                                                        <mat-label>City</mat-label>
                                                        <input matInput placeholder="" formControlName="city">
                                                    </mat-form-field>
                                                </div>
                                                <div class="col-sm-3">
                                                    <mat-form-field class="w-100" appearance="outline">
                                                        <mat-label>State</mat-label>
                                                        <input matInput placeholder="" formControlName="state">
                                                    </mat-form-field>
                                                </div>
                                                <div class="col-sm-3">
                                                    <mat-form-field class="w-100" appearance="outline">
                                                        <mat-label>Zip</mat-label>
                                                        <input matInput placeholder="" formControlName="zip">
                                                    </mat-form-field>
                                                </div>
                                                <div class="col-sm-12 text-end">
                                                    <button class="btn btn-danger"
                                                        (click)="removeAddr(i)">Delete</button>
                                                    <button class="btn btn-primary" (click)="addAddr()">Add
                                                        Address</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-end gap-2 my-2">
                        <button class="btn btn-danger">Clear</button>
                        <button class="btn btn-primary" (click)="saveuser()">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>